<?xml version="1.0" encoding="UTF-8"?>
<Configuration debug="true">
    <Properties>
        <Property name="logPath">logs/elk-example/</Property>
        <Property name="rollingFileName">elk-example_app</Property>
        <Property name="defaultPattern">[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}</Property>
        <Property name="logStashPattern">%msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <Filters>
                <MarkerFilter marker="LOGSTASH" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${defaultPattern}" />
        </Console>
        <RollingFile name="rollingFile" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
            <Filters>
                <MarkerFilter marker="LOGSTASH" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="${defaultPattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <Socket name="socket" host="${sys:logstash.host.name:-localhost}" port="${sys:logstash.port.number:-5001}" reconnectionDelayMillis="5000">
<!--        <Socket name="socket" host="${sys:logstash.host.name:-192.168.50.10}" port="${sys:logstash.port.number:-9600}" reconnectionDelayMillis="5000">-->
            <Filters>
                <MarkerFilter marker="LOGSTASH" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
<!--            <PatternLayout pattern="${logStashPattern}" />-->
            <JsonLayout compact="true" eventEol="true"/>
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="socket"/>
        </Root>
    </Loggers>
</Configuration>